#foo {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: bgChange;
    animation-duration: 5s;
}

@keyframes bgChange {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}